@model j64.Harmony.WebApi.ViewModels.Config.HarmonyHubConfiguration
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .table {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
    }

    .panel-heading {
        font-weight: bold;
    }

    label, th {
        font-weight: normal;
    }

    select {
        margin-top: 5px;
    }

    .sayThis {
        white-space: nowrap;
    }

    .toDoThis {
        width: 100%;
    }

    .tryIt {
        white-space: nowrap;
    }

    .myNotes {
        font-size: xx-small;
        font-style: italic;
        font-weight: bold;
    }
</style>
<form class="form" asp-controller="Home" asp-action="SaveChanges" method="post">
    <br />
    <a class="btn btn-primary btn-xs" asp-action="SyncSmartThings2"><i class="fa fa-cloud-upload"></i>&nbsp;Sync with SmartThings-Test</a>
    
    @if (!String.IsNullOrEmpty(Model.ChannelDevice) && !String.IsNullOrEmpty(Model.VolumeDevice))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                Define your Alexa phrases
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><b><i>Say this...</i></b></th>
                            <th><b>To do this</b></th>
                            <th><b>Try&nbsp;it</b></th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="sayThis">Alexa, turn on/off [@Model.SoundDeviceName]</td>
                        <td class="toDoThis">Toggle mute</td>
                        <td><a class="btn btn-default btn-xs" asp-action="Mute"><i class="fa fa-volume-off fa-fw"></i></a></td>
                    </tr>
                    <tr>
                        <td class="sayThis">
                            Alexa, set [@Model.SoundDeviceName] to 60%
                        </td>
                        <td class="toDoThis">
                            Turn up the sound by 2 clicks
                        </td>
                        <td>
                            <a class="btn btn-default btn-xs" asp-action="VolumeLevel" asp-route-level="60"><i class="fa fa-volume-up fa-fw"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="sayThis">
                            Alexa, set [@Model.SoundDeviceName] to 40%
                        </td>
                        <td class="toDoThis">
                            Turn down the sound by 2 clicks
                        </td>
                        <td>
                            <a class="btn btn-default btn-xs" asp-action="VolumeLevel" asp-route-level="40"><i class="fa fa-volume-down fa-fw"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="sayThis">Alexa, turn on [@Model.ChannelSurfDeviceName]</td>
                        <td class="toDoThis">Start surfing channels!</td>
                        <td><a class="btn btn-default btn-xs" asp-action="StartSurf"><i class="fa fa-spinner fa-fw"></i></a></td>
                    </tr>
                    <tr>
                        <td class="sayThis">Alexa, turn on [@Model.ChannelSurfDeviceName]</td>
                        <td class="toDoThis">Stop surfing channels</td>
                        <td><a class="btn btn-default btn-xs" asp-action="StopSurf"><i class="fa fa-cog fa-fw"></i></a></td>
                    </tr>
                    <tr>
                        <td class="sayThis">Alexa, turn on [@Model.VcrPauseDeviceName]</td>
                        <td class="toDoThis">Pause the VCR</td>
                        <td><a class="btn btn-default btn-xs" asp-action="Transport" asp-route-command="pause"><i class="fa fa-pause fa-fw"></i></a></td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <div class="myNotes">** Scroll down if you want to change the sound and channel surf devices names</div>
                                <div class="myNotes">** Volume only moves up/down by 2 button presses. It is not a true % of your TV volume</div>
                                <div class="myNotes">** You can say any % you want to turn the sound up/down</div>
                                <div class="myNotes">** j64Harmony will surf only the channels you have defined below</div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><b><i>Say this...</i></b></th>
                            <th><b>To set this channel</b></th>
                            <th><b>Try&nbsp;it</b></th>
                        </tr>
                    </thead>
                    @foreach (var fc in Model.FavoriteChannels)
                    {
                        <tr>
                            <td class="sayThis">Alexa, turn on&nbsp;&nbsp;<input asp-for="@fc.Name" style='width: 11em' /></td>
                            <td class="toDoThis"><input asp-for="@fc.Channel" style='width: 5em' type="number" />&nbsp;&nbsp;<a class="btn btn-default btn-xs" asp-action="DeleteChannel" asp-route-channel="@fc.Channel"><i class="fa fa-trash-o fa-fw"></i></a></td>
                            <td class="tryIt"><a class="btn btn-default btn-xs" asp-action="SetChannel" asp-route-channel="@fc.Channel"><i class="fa fa-hand-o-left fa-fw"></i></a></td>
                        </tr>
                    }
                    <tr>
                        <td class="sayThis">Alexa, turn on&nbsp;&nbsp;<input asp-for="LastChannelDeviceName" style='width: 11em' /></td>
                        <td class="toDoThis"><input readonly="readonly" style='width: 5em' value="previous" /></td>
                        <td class="tryIt"><a class="btn btn-default btn-xs" asp-action="SetChannel" asp-route-channel="Previous"><i class="fa fa-hand-o-left fa-fw"></i></a></td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-primary btn-xs" asp-action="AddChannel"><i class="fa fa-plus-circle"></i>&nbsp;Add New Channel</a>
                            <button class="btn btn-primary btn-xs" type="submit"><i class="fa fa-floppy-o"></i>&nbsp;Save Channels</button>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <div class="myNotes">** After modifying the channels you must ask Alexa to discover devices</div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-heading">
            Harmony Hub Information
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label asp-for="Email">Harmony User ID</label>
                <input asp-for="Email" class="form-control" placeholder="Harmony ID (email)" type="email" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" placeholder="Harmony Password" type="password" value="na" />
            </div>
            <div class="form-group">
                <label asp-for="HubAddress">Harmony Address</label>
                <input asp-for="HubAddress" class="form-control" placeholder="Name or IP of harmony hub" />
            </div>
            <div class="form-group">
                <label asp-for="HubPort">Harmony TCP Port</label>
                <input asp-for="HubPort" class="form-control" placeholder="TCP Port Harmony is listening on" type="number" />
            </div>
            @if (Model.DeviceList.Count > 0)
            {
                <div class="form-group">
                    <label asp-for="VolumeDevice">Volume Device</label>
                    <select class="form-control" asp-for="VolumeDevice" asp-items="Model.DeviceList"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ChannelDevice">Channel Device</label>
                    <select class="form-control" asp-for="ChannelDevice" asp-items="Model.DeviceList"></select>
                </div>
                <div class="form-group">
                    <label asp-for="SoundDeviceName">Sound Device Name</label>
                    <input class="form-control" asp-for="SoundDeviceName" />
                </div>
                <div class="form-group">
                    <label asp-for="ChannelSurfDeviceName">Channel Surfing Device Name</label>
                    <input class="form-control" asp-for="ChannelSurfDeviceName" />
                </div>
                <div class="form-group">
                    <label asp-for="VcrPauseDeviceName">Pause TV Device Name</label>
                    <input class="form-control" asp-for="VcrPauseDeviceName" />
                </div>
                <div class="form-group">
                    <label asp-for="ChanneKeyPauseInterval">Channel Key Press Wait(ms)</label>
                    <input class="form-control" asp-for="ChanneKeyPauseInterval" type="number" />
                </div>
                <div class="form-group">
                    <div class="myNotes">** After modifying the device names you must ask Alexa to discover devices</div>
                    <div class="myNotes">** Wait(ms) is the time between pressing numbers when changing channels</div>
                </div>

            }
            <div class="form-group">
                <button class="btn btn-primary btn-xs" type="submit"><i class="fa fa-floppy-o"></i>&nbsp;Save Hub Information</button>
                <a class="btn btn-primary btn-xs" asp-action="SyncSmartThings"><i class="fa fa-cloud-upload"></i>&nbsp;Sync with SmartThings</a>
            </div>

        </div>
    </div>
</form>
